*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height:100vh;
  background-image: url("file:///C:/Users/charan.p/Pictures/pair123%20(6).jpeg");
  background-repeat: no-repeat;
  /*background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(12.webp);*/
  background-size: auto;
  background-position: center;
}
.navbar{
  width:85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 250px;
  height: 50px;
  cursor: pointer;
  align-self:flex-start;
}
.navbar ul li{
  list-style-type: disc;
  display: inline-block;
  margin: 0 15px;
  position: relative;
}
.navbar ul li a{
text-decoration: none;
color: rgb(180, 35, 35);
text-transform: uppercase;
font-size: 20px;
}
.navbar ul li::after{
  content: '';
  height:3px;
  width: 0;
  background: #f40732;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}
.navbar ul li:hover:after{
  width: 100%;
}
.matter{
  width: 100%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgb(31, 29, 29);
}
.matter h1{
  font-size:70px;
  margin-top: 80px; 
}
.matter p{
  margin:20px auto;
  font-weight: 120;
  font-size: 120%;
  line-height: 25px;
}
button{
  width:200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #424540;
  background: transparent;
  color: rgb(21, 21, 21);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #ba381b;
  height:100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}